<h1>Search Result</h1>
<table>
  <tr>
    <th>Movies</th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.description %></td>
      <td><%= movie.year_released %></td>
      <td><%= movie.rating %></td>
    </tr>
    </tr> 
    </tr>
  <% end %>

<p><%= link_to "Home", root_path %></p>